# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Виртуальное окружение
venv/
venv311/
env/
ENV/

# Переменные окружения
.env

# Сборка и дистрибуция
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Тестирование и покрытие кода
.pytest_cache/
.coverage
htmlcov/

# Логи
*.log

# База данных SQLite
*.db
*.sqlite3

# Файлы IDE
.idea/
.vscode/
*.swp
*.swo

# Файлы векторной базы данных
data/chroma/

# Временные файлы
*.tmp

# Системные файлы
.DS_Store
